/* You can add global styles to this file, and also import other style files */

@import '~bulma';

app-root {
  display: block;
  margin: 1em;
}

app-data-table {
  table {
    font-size: 0.8em;
  }

  .scroll-container {
    display: block;
    max-height: 20vh;
    height: 20vh;
    overflow-y: scroll;
  }
}